.send{
    margin-top: 9%;
}
.number{
    margin-top: 5%;
}
.forgot{
    margin-top: 15%;
}
.box{
    border-style: solid;
    border-radius: 5px;
}
.otp{
    margin-top: 5%;
}
.verify{
    margin-top: 5%;
}