* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.text{
    text-align: center;
    position:relative ;
    margin-top: auto;
    padding-top: 50px;
    
}
ol{
    margin-top: auto;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
.heading{
    text-align: center;
}
h3{
    text-align: center;
}