.text{
    text-align: center;
    position:relative ;
    margin-top: auto;
    padding-top: 50px;
    
}
ol{
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}