
.logo{
    position: relative;
    display: flex;
    margin-left: 100px;
    font-weight: 700;
    font-size: 190%;
    margin-top: -52px;
    margin-bottom: 12px;
    margin-left: 120px;
}
.mainlogo{
    display: flex;
    width: 50px;
    margin-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 40px;
}
.menu{
    position: absolute;
    display: flex;
    text-align: right;
    margin-left: 80vh;
    width: 50%;
    margin-top: -3%;
}