.nav{
    width: 100%;
    height: 100%;
    background: #ffbf00;
    border-bottom: 10px ;
    display: flex;
    align-items: right;
    font-weight: bold;
    font-size: 120px;
    text-align: right;
    
}

.links-container{
    display: flex;
    width: 500px;
    margin-left: 75vh;    
}
.links-container span{
    font-weight: 500;
    cursor: pointer;

}
.link{
    justify-content: space-between;

}


.bgcolor{
    background: linear-gradient(180deg, #FFD243 0%, #FFB726 0.01%, #FF9D0A 100%);
}
.logo{
    text-decoration: none;
    display: flex;
    margin-left: 100px;
    font-weight: 700;
    font-size: 180%;
    margin-top: -3.5%;
    
}
.mainlogo{
    display: flex;
    width: 3%;
    margin-left: 40px;
    margin-top: 9px;
    height: 7vh;
    
    
}
.menu{
    position: absolute;
    display: flex;
    text-align: right;
    margin-left: 80vh;
    width: 50%;
    margin-top: -3%;
    
}